.notification {
  position: fixed;
  display: none;
  opacity: 1;
  margin: auto 0;
  top: 20%;
  width: 100%;
  text-align: center;
  font-family: karmatic;
  z-index: 1000;
  color: greenyellow;
  font-size: 1.5rem;
  font-weight: bolder;
  transition-timing-function: ease-out;
  animation-iteration-count: 1;
}
.plusPoints {
  animation: scoreUp 1.5s forwards;
}

.wellDone,
.gameOver {
  animation: scoreUp 3.5s forwards;
}

.show {
  display: block;
}

@font-face {
  font-family: karmatic;
  src: url("../../assets/roboto.ttf");
}

@keyframes scoreUp {
  0% {
    visibility: visible;
    padding-top: 20px;
    opacity: 0.2;
    text-shadow: 0 0 0.2em white;
  }
  10% {
    opacity: 1;
  }
  100% {
    padding-top: 0px;
    opacity: 0.2;
    text-shadow: 0 0 0.2em white;
  }
}

@keyframes game-over-animation {
  0% {
    visibility: visible;
    padding-top: 20px;
    opacity: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), 0 0 0.2em white;
  }
  10% {
    opacity: 1;
    padding-top: 0px;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
}
