.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34a853;
  width: 100%;
  height: 100%;
}
.home-button {
  padding: 1.5rem 4rem;
  font-size: 2rem;
  font-family: roboto;
  box-shadow: 5px 5px 5px 1px lightgray;
  border-radius: 10px;
  border: none;
  color: #888;
  transition: all 0.2s ease-in-out;
  height: 10rem;
}

.home-button:hover {
  transform: scale(1.2);
}

@font-face {
  font-family: roboto;
  src: url("../assets/roboto.ttf");
}

.playBtn {
  height: 15rem;
  width: 15rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
