* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.center {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1920px;
}

.header {
  position: absolute;
  top: 2rem;
}
